.project {
	z-index: 1;
	color: var(--color-front);
	/* background */
	background-color: var(--color-back);
	background-image: url('./blur.png');
	background-size: cover;
	/* open animation */
	visibility: hidden;
	opacity: 0;
	transform: scale(0.3);
	/* transition */
	--ani: 0.8s cubic-bezier(0, 0.2, 0, 1.3);
	transition: var(--ani) visibility, var(--ani) opacity,
		var(--ani) transform;
}

.project.show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.project .perspective {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	perspective: 800px;
}

.project .perspective .contents {
	position: relative;
	left: 50%;
	top: 50%;
	--size: 100vmin;
	width: var(--size);
	height: var(--size);
	margin-left: calc(-0.5 * var(--size));
	margin-top: calc(-0.5 * var(--size));
}

.project .perspective .contents .content {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 1s opacity;
	opacity: 0;
}

.project .section,
.project .centerName .name {
	max-width: 1280px !important;
	padding: 0 var(--space-20);
	margin: 0 auto;
}

.project .centerName {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

.project .centerName .name {
	padding-top: var(--space-20);
}

.project .sections {
	overflow-x: hidden;
	height: 100%;
}

.project .section {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	height: 100%;
}

.project .section .typo {
	max-width: 50ch;
}

.project .section .typo.center {
	justify-self: center;
	align-self: flex-end;
	padding: var(--space-20) 0;
}

.project .section .typo.right {
	justify-self: flex-end;
}

.project .cancel {
	position: absolute;
	z-index: 1;
	right: var(--space-10);
	bottom: var(--space-10);
	width: var(--space-10);
	height: var(--space-10);
	background-size: contain;
	cursor: pointer;
	transition: 1s right, 1s margin-right;
}

.project .cancel.end {
	right: 50%;
	margin-right: calc(-0.5 * var(--space-10));
}
