body > .background {
	z-index: -1;
	background-image: url('./bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	transition: 1s opacity, 1s filter, 5s transform;
	transform: translateX(5vw);
}

body.loaded > .background {
	transform: translateX(0vw);
}

body.scrolled > .background {
	filter: blur(30px);
	opacity: 0.3;
}

.intro {
	display: grid;
	grid-auto-flow: column;
	height: 100%;
	transition: 5s transform;
	transform: translateX(-5vw);
}

body.loaded > .intro {
	transform: translateX(0vw);
}

.intro .header {
	max-width: 20ch;
}

.indicator {
	position: fixed;
	top: calc(100vh - var(--space-00));
	left: 50%;
	margin-left: calc(-0.5 * var(--space-20));
	height: var(--space-02);
	width: var(--space-20);
	background-color: var(--color-front);
	margin-bottom: calc(-1 * var(--space-03));
	border-radius: 9999px;
	animation: 0.5s wave infinite alternate;
	transition: 0.5s opacity;
	pointer-events: none;
}

.indicator.hide {
	opacity: 0;
}

@keyframes wave {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(5px);
	}
}

@media screen and (min-width: 720px) {
	.intro {
		align-content: center;
		justify-content: flex-start;
	}
}
