body {
	max-width: 1280px;
	margin: auto;
}

body.scrolled > .background {
	filter: blur(30px);
	opacity: 0.3;
}

body > .background {
	z-index: -1;
	background-image: url('./bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
	transition: 1s opacity, 1s filter;
}
.motivation,
.about,
.projects {
	margin-bottom: var(--space-30);
}

.footer {
	text-align: center;
	width: 100%;
}

.intro {
	display: grid;
	grid-auto-flow: column;
	height: 100%;
}

.intro .header {
	max-width: 20ch;
}

.indicator {
	position: fixed;
	top: calc(100vh - var(--space-00));
	left: 50%;
	margin-left: calc(-0.5 * var(--space-20));
	height: var(--space-02);
	width: var(--space-20);
	background-color: var(--color-front);
	margin-bottom: calc(-1 * var(--space-03));
	border-radius: 9999px;
	animation: 0.5s wave infinite alternate;
	transition: 0.5s opacity;
	pointer-events: none;
}

.indicator.hide {
	opacity: 0;
}

@keyframes wave {
	from {
		transform: translateY(-5px);
	}
	to {
		transform: translateY(5px);
	}
}

.motivation {
	text-align: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia;
}

.motivation p {
	transition: 2s ease-out opacity, 2s ease-out transform;
	opacity: 0;
	transform: translateY(40vh);
}

.motivation.visible p {
	opacity: 1;
	transform: translateY(0vh);
}

@media screen and (max-width: 720px) {
	body {
		padding: var(--space-00);
	}
}

@media screen and (min-width: 720px) {
	body {
		padding: var(--space-20);
	}
	.intro {
		align-content: center;
		justify-content: flex-start;
	}
}
