.project {
	color: var(--color-front);
	/* background */
	background-color: var(--color-back);
	background-image: url('./blur.png');
	background-size: cover;
	/* open animation */
	visibility: hidden;
	opacity: 0;
	transform: scale(0.5);
	/* transition */
	--ani: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
	transition: var(--ani) visibility, var(--ani) opacity,
		var(--ani) transform, var(--ani) border-radius;
	border-radius: var(--space-30);
}

.project.show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	border-radius: 0;
}

.project .perspective {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	perspective: 800px;
}

.project .perspective .contents {
	position: relative;
	left: 50%;
	--size: 100vmin;
	width: var(--size);
	height: var(--size);
	margin-left: calc(-0.5 * var(--size));
	margin-top: calc(-0.5 * var(--size));
}

.project .perspective .contents .content {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 1s opacity;
	opacity: 0;
}

.project .perspective .contents a {
	position: absolute;
	right: -20px;
	top: 50%;
}

.project .section,
.project .top .name {
	max-width: 1280px;
	margin: 0 auto;
}

.project .top {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}

.project .sections {
	overflow-x: hidden;
	height: 100%;
	pointer-events: painted;
}

.project .sections .section {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	height: 100%;
}

.project .sections .section span {
	display: block;
	margin-top: var(--space-00);
	font-size: 12px;
	line-height: var(--line-height);
	padding-top: 2px;
	margin-bottom: -2px;
}

.project .sections .section .typo {
	max-width: 50ch;
	pointer-events: auto;
}

.project .cancel {
	position: absolute;
	right: var(--space-10);
	bottom: var(--space-10);
	width: var(--space-10);
	height: var(--space-10);
	background-size: contain;
	cursor: pointer;
	transition: 1s right, 1s margin-right;
}

.project .cancel.end {
	right: 50%;
	margin-right: calc(-0.5 * var(--space-10));
}

@media screen and (max-width: 720px) {
	.project .section,
	.project .top .name {
		padding: 0 var(--space-00);
	}
	.project .top .name {
		padding-top: var(--space-00);
	}
	.project .perspective .contents {
		top: 40%;
	}
	.project .section .typo {
		align-self: flex-end;
		padding-bottom: var(--space-10);
	}
	.project .section:last-child {
		padding-bottom: var(--space-20);
	}
}

@media screen and (min-width: 720px) {
	.project .section,
	.project .top .name {
		padding: 0 var(--space-20);
	}
	.project .top .name {
		padding-top: var(--space-20);
	}
	.project .perspective .contents {
		top: 50%;
	}
	.project .section .typo.center {
		justify-self: center;
		align-self: flex-end;
		padding-bottom: var(--space-20);
	}
	.project .section .typo.right {
		justify-self: flex-end;
	}
}
