.motivation {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia;
}

.motivation p {
	transition: 3s ease-out opacity, 2s ease-out transform;
	opacity: 0;
	transform: translateY(30vh);
}

.motivation.visible p {
	opacity: 1;
	transform: translateY(0vh);
}

@media screen and (max-width: 740px) {
	.motivation {
		max-width: 25ch;
	}
	.motivation p {
		font-size: 16px;
		line-height: var(--line-height);
		padding-top: 0;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 740px) {
	.motivation {
		max-width: 40ch;
	}
}
