.skills {
	column-width: 200px;
	column-gap: var(--space-00);
}

.skills > div {
	break-inside: avoid;
	padding-bottom: var(--space-00);
}

.badge {
	position: relative;
	top: -2px;
	background-color: var(--color-middle-bold);
	color: var(--color-front);
	padding: 1px var(--space-03) 0px;
	border-radius: var(--space-03);
}
