body {
	max-width: 1280px;
	margin: 0 auto;
}

.motivation,
.getintouch,
.projects {
	margin-bottom: var(--space-30);
}

.footer {
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 720px) {
	body {
		padding: var(--space-00);
	}
}

@media screen and (min-width: 720px) {
	body {
		padding: var(--space-20);
	}
}
